<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lotto</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Losowanie LOTTO</h1>

<p th:text="${numbers}"> </p>

    <h2 th:text="${numbers}"> </h2>

</body>
</html>